
/* Colors Start */
.header, .awesome,.footer {
    background-color: #1F2937;
}

.header-logo, .awesome-title {
    color: #F9FAF8;

}
.cards-title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.link, .awesome-subtext {
    font-size: 18px;
    color: #E5E7EB;
}


.sign-up-subtext {
    color: #E5E7EB;
    font-size: 15px;
}
.sign-up-title {
    font-size: 24px;
    font-weight: 600;
}

.footer {
    color: #E5E7EB;
}

button, .sign-up-container {
    background-color: #3882F6;
    color: white;
}

.rounded {
    border-radius: 8px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}



/* Colors End */


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* flex:1; */
    min-height: 100vh;
}



/* Header start */

.header {
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 50px;
}

.header-logo {
    font-size: 24px;
    font-weight: 800;
    /* margin-right: auto; */
    margin-left: 12px;
}

.links{
    display: flex;
    gap: 12px;
}
.link:nth-child(4){
    margin-right: 12px;
}

a {
    text-decoration: none;
}
/* Header End */

/* Awesome Start */
.awesome {
    display: flex;
    /* gap: 20px; */
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.awesome-left {
    width:400px;
}
.awesome-title {
    font-weight: 900;
    font-size: 48px;
}

.awesome-button {
    border: none;
    width: 100px;
    height: 25px;
    cursor: pointer;
}

.awesome-image {
    height: 250px;
    width: 450px;
    margin: 30px;
}

/* Awesome End */

/* Cards Start */
.cards {
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    text-align: center;
}
.cards-title {
    margin-bottom: 40px;
    margin-top: 40px;
}
.cards-info {
    display: flex;
    flex: 1;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    width: 150px;

}
.card-image {
    height: 100px;
    width: 100px;
    border-color: 2px solid #3882F6;
    border-radius: 8px;
}

/* Cards End */


/* Quote Start */
.quote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.quote-text {
    width: 600px;
    
}

.quote-container {
    max-width: 600px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}
.quote-author {
    align-self: flex-end;
}
/* Quote End */


/* Sign Up Start */
.sign-up-button {
    border: 2px solid white;
    width: 100px;
    height: 25px;
    cursor: pointer;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.sign-up-container {
    width: 900px;
    height: 100px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.sign-up-left {
    width: 300px;
}

/* Sign Up End */


/* Footer Start */

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}

/* Footer End */
